<launch>
    <arg name="radius" default="0.1" />
    <arg name="x_c" default="0.0" />
    <arg name="y_c" default="0.3" />
    <arg name="z_c" default="1.35" />
    <arg name="plane" default="xz" />

    <node name="circle" pkg="lab_1" type="circle" output="screen">
        <param name="radius" value="$(arg radius)" />
        <param name="x_c" value="$(arg x_c)" />
        <param name="y_c" value="$(arg y_c)" />
        <param name="z_c" value="$(arg z_c)" />
        <param name="plane" value="$(arg plane)" />
    </node>
</launch>