<launch>
    <arg name="side" default="0.2" />
    <arg name="x_c" default="0.25" />
    <arg name="y_c" default="0.2" />
    <arg name="z_c" default="1.1" />
    <arg name="plane" default="xy" />

    <node name="square" pkg="lab_1" type="square" output="screen">
        <param name="side" value="$(arg side)" />
        <param name="x_c" value="$(arg x_c)" />
        <param name="y_c" value="$(arg y_c)" />
        <param name="z_c" value="$(arg z_c)" />
        <param name="plane" value="$(arg plane)" />
    </node>
</launch>